<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>业务警告通知</title>
    <link rel="stylesheet" type="text/css" href="static/css/show_all.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<!-- <h2>调整浏览器窗口大小查看效果</h2> -->
<img src="{{ url_for('static', filename='images/360safe.png')}}" alt="你的图片被外星人劫持了～～"/>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>IP</th>
            <th>短信内容</th>
            <th>接收手机号</th>
            <th>状态</th>
            <th>发送时间</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.ip_addr }}</td>
                <td class="fh">{{ d.sms_info }}</td>
                <td>{{ d.re_mobile }}</td>
                {% if d.status=='失败' %}
                       <td class="tooltip"><a href="" , style="color: #FF0000;">{{ d.status }}</a>
                            <span class="tooltiptext">{{ d.fail_info }}</span>
                       </td>
                {% else %}
                      <td>{{ d.status }}</td>
                {% endif %}
                <td>{{ d.send_time }}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>
</div>


</body>
</html>
