{% extends 'base.html' %}

{% block title %}
MyFlask
{% endblock %}
{% block style %}
<style>
    .table tbody tr td {
        vertical-align: middle;
    }

    .table-bordered>thead>tr>td,
    .table-bordered>thead>tr>th {
        vertical-align: middle;
    }
</style>
{% endblock %}
{% block pagecontent %}
<script type="text/javascript">
    $(document).ready(function () {
        //上移
        $("input.upbtn").each(function () {
            $(this).click(function () {
                var $tr = $(this).parents("tr");
                if ($tr.index() != 0) {
                    $tr.prev().before($tr); //在每个匹配的元素之前插入内容。
                }
            });
        });
        //下移
        var trLength = $("input.downbtn").length;
        $("input.downbtn").each(function () {
            $(this).click(function () {
                var $tr = $(this).parents("tr");
                if ($tr.index() != trLength - 1) {
                    $tr.next().after($tr); //在每个匹配的元素之后插入内容。
                }
            });
        });
    });
</script>
<table>
    <tr>
        <td><input type="text" /></td>
        <td><input type="button" value="上移" class="upbtn" />
            <input type="button" value="下移" class="downbtn" />
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td><input type="button" value="上移" class="upbtn" />
            <input type="button" value="下移" class="downbtn" />
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td><input type="button" value="上移" class="upbtn" />
            <input type="button" value="下移" class="downbtn" />
        </td>
    </tr>
    <tr>
        <td>6</td>
        <td><input type="button" value="上移" class="upbtn" />
            <input type="button" value="下移" class="downbtn" />
        </td>
    </tr>
</table>
<div style="margin: 15px 15px 15px 15px;">

    <p>Index</p>

    <div class="form-group">
        <select class="selectpicker">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    </div>

    <button type="button" class="btn btn-primary" onclick="alter(this.closest('div'))">123</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info">
        Launch demo modal
    </button>

    <!-- infoModal -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="infoTitle" aria-hidden="true"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" style="min-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="nav nav-pills navbar-right">
                        <li class="active"><a href="#infoIP" data-toggle="tab">IP地址</a></li>
                        <li><a href="#infoID" data-toggle="tab">远程桌面</a></li>
                        <li><a href="#infoOther" data-toggle="tab">其它</a></li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="infoIP">
                            <table class="table table-bordered" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <td>
                                            公网IP
                                        </td>
                                        <td>
                                            内网IP
                                        </td>
                                        <td>
                                            远程web密码
                                        </td>
                                        <td style="width: 150px;">
                                            <button type="button" class="btn btn-warning"
                                                onclick="add_line(this);">增加行</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="content">
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="infoID">
                            <table class="table table-bordered" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <td>
                                            用户名
                                        </td>
                                        <td>
                                            密码
                                        </td>
                                        <td>
                                            端口号
                                        </td>
                                        <td style="width: 150px;">
                                            <button type="button" class="btn btn-warning "
                                                onclick="add_line(this);">增加行</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="content">
                                </tbody>
                            </table>

                        </div>

                        <div class="tab-pane fade" id="infoOther">
                            <table class="table table-bordered" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <td>
                                            名称
                                        </td>
                                        <td>
                                            值1
                                        </td>
                                        <td>
                                            值2
                                        </td>
                                        <td>
                                            值3
                                        </td>
                                        <td>
                                            值4
                                        </td>
                                        <td style="width: 150px;">
                                            <button type="button" class="btn btn-warning "
                                                onclick="add_line(this);">增加行</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody id="content">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button id="submit" type="button" class="btn btn-primary" onclick="SubData()"
                        data-dismiss="modal">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="/static/js/jquery.color.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.color.plus-names.min.js"></script>
<script type="text/javascript" src="/static/js/info_add.js"></script>
{% endblock %}