{% extends 'base.html' %}

{% block title %}
MyFlask
{% endblock %}
{% block style %}
<style>
    .table tbody tr td {
        vertical-align: middle;
    }

    .table-bordered>thead>tr>td,
    .table-bordered>thead>tr>th {
        vertical-align: middle;
    }
</style>
{% endblock %}
{% block pagecontent %}
<div style="margin: 15px 15px 15px 15px;">

    <p>Index</p>

    <div class="form-group">
        <select class="selectpicker">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    </div>

    <button type="button" class="btn btn-primary" onclick="alter(this.closest('div'))">123</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#info">
        Launch demo modal
    </button>

    <!-- infoModal -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="infoTitle" aria-hidden="true"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" style="min-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <div class="text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-lg">添加数据项</button>
                            <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown">

                                <span class="caret"></span>

                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">IP地址
                                    </a></li>
                                <li><a href="#">远程桌面</a></li>
                                <li><a href="#">数据库</a></li>
                                <li><a href="#">其它</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> /* 右上角关闭小叉图标 */
                </div>-->
                <!-- <div class="modal-body"> -->
                <div class="modal-footer" id="infoIP">
                    <h3 class="modal-title text-center" id="infoTitle">IP地址</h3>
                    <table class="table table-bordered" style="text-align: center;">
                        <thead>
                            <tr>
                                <td>
                                    公网IP
                                </td>
                                <td>
                                    内网IP
                                </td>
                                <td>
                                    远程web密码
                                </td>
                                <td class='td_Oper' id="buttonIP">
                                    <button type="button" class="btn btn-warning " onclick="add_line(this);">增加行</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="content">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" id="infoID">
                    <h3 class="modal-title text-center" id="infoTitle">远程桌面信息</h3>
                    <table class="table table-bordered" style="text-align: center;">
                        <thead>
                            <tr>
                                <td>
                                    用户名
                                </td>
                                <td>
                                    密码
                                </td>
                                <td>
                                    端口号
                                </td>
                                <td class='td_Oper'>
                                    <button type="button" class="btn btn-warning " onclick="add_line(this);">增加行</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="content">
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer" id="infoOther">
                    <h3 class="modal-title text-center" id="infoTitle">其它</h3>
                    <table class="table table-bordered" style="text-align: center;">
                        <thead>
                            <tr>
                                <td>
                                    名称
                                </td>
                                <td>
                                    值1
                                </td>
                                <td>
                                    值2
                                </td>
                                <td>
                                    值3
                                </td>
                                <td>
                                    值4
                                </td>
                                <td class='td_Oper'>
                                    <button type="button" class="btn btn-warning " onclick="add_line(this);">增加行</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="content">
                        </tbody>
                    </table>

                </div>
                
                <div class="modal-body text-center">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button id="submit" type="button" class="btn btn-primary" onclick="SaveData()"
                        data-dismiss="modal">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="/static/js/info_add.js"></script>
{% endblock %}